/* applied to screens > 700px */
@media (min-width: 700px) {
    .title {
        font-size: 45px;
    }
}

/* applied to screens < 700px */
@media (max-width: 700px) {
    .title {
        font-size: 6vw;
    }
}

.image {
    height: 50%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.fa.info-icon {
    cursor: pointer;
	font-size: 45px;
    text-align: center;
    margin-right: 1%;
    color: #6f95a8;
}

.fa.info-icon:hover {
    color: #254252;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 5%;
    /*font-size: 6vw;*/
    text-align: center;
    color: #6f95a8;
}

.icons {
    text-align: center;
}

.container {
    margin: auto;
    max-width: 800px;
}