//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

html.
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jeffrey Chang</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- for FF, Chrome, Opera -->
        <link rel="icon" type="image/png" href="favicon16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="favicon32.png" sizes="32x32">

        <!-- for IE -->
        <link rel="icon" type="image/x-icon" href="favicon.ico" >
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    </head>
    <body>
        <div class="container">
            <div class="title">Hi, I'm Jeffrey Chang!</div>
            <img class="image" src="me.jpg" alt="Me">
            <div class="icons">
                <a href="mailto:jeffreychang@college.harvard.edu" target="_blank"><i class="info-icon fa fw fa-envelope-square"></i></a>
                <a href="https://github.com/jeffjc97" target="_blank"><i class="info-icon fa fw fa-github-square"></i></a>
                <a href="https://www.linkedin.com/pub/jeffrey-chang/87/173/b45" target="_blank"><i class="info-icon fa fw fa-linkedin-square"></i></a>
            </div>
        </div>
    </body>